@import "presentation/styles/variables.scss";

.btn {
  background-color: $secondary-color;
  border-bottom: 3px inset rgba(0, 0, 0, 0.5);
  border-left: 3px inset rgba(0, 0, 0, 0.5);
  border-right: 3px inset rgba(255, 255, 255, 0.5);
  border-top: 3px inset rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  margin: 1rem;
  max-width: 200px;
  padding: 5px;
  text-transform: uppercase;
  font-family: $primary-font;
}
