.table {
  border-collapse: collapse;
  width: 100%;

  th,
  td {
    padding: 10px 0px;
  }

  &__headerRow {
    text-align: left;
    font-size: 20px;
    border-bottom: 4px solid white;
  }

  &__row {
    border-bottom: 1px solid white;
  }
}

.item {
  &__cell--empty {
    text-align: center;
  }
}
